# zsh
zsh/*
!zsh/.zshrc

# vim
vim/plugged/*
vim/spell/*
vim/session/*

# neovim
nvim/nvchad

# helix
helix/runtime

# tmux
tmux/plugins/*
tmux/resurrect/*

# node
.tool-versions

# python
.python-version

# direnv
.envrc
