# zsh
home/zsh/.config/zsh/**/*
!home/zsh/**/.zprofile
!home/zsh/**/.zshrc
!home/zsh/**/oh-my-zsh.zsh

# vim
home/vim/etc/vim/plugged/*
home/vim/etc/vim/spell/*
home/vim/etc/vim/session/*

# neovim
home/nvim/.config/nvim/nvchad

# helix
home/helix/.config/helix/runtime

# tmux
home/tmux/.config/tmux/plugins/*
home/tmux/.config/tmux/resurrect/*

# node
.tool-versions

# python
.python-version

# direnv
.envrc
