# zsh
zsh/*
!zsh/.zshrc

# vim
vim/plugged/*
vim/spell/*
vim/session/*

# neovim
nvim/nvchad

# tmux
tmux/plugins/*
!tmux/plugins/tpm
tmux/resurrect/*

# node
.tool-versions

# python
.python-version

# direnv
.envrc
